/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.list-cell {
	-fx-alignment: center ;
}

#m_clearButton {          
    -fx-background-color: #F44336
}

#m_clearButton:hover {
    -fx-background-color: 
       linear-gradient(fdfdfd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%),
        #9d4024,
        #EF5350;
}
#m_clearButton:pressed {
    -fx-padding: 10 15 11 15;
}
#m_clearButton Text {
    -fx-fill: white;
}
